<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <queueSize>1000</queueSize>
    </appender>
    <logger name="com.amazon.aws.cqlreplicator.task.replication.PartitionDiscoveryTaskV2" level="ERROR"
            additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
    <logger name="com.amazon.aws.cqlreplicator.task.replication.CassandraReplicationTaskV2" level="ERROR"
            additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
    <logger name="com.amazon.aws.cqlreplicator.Starter" level="INFO" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
    <logger name="com.amazon.aws.cqlreplicator.storage.TargetStorageOnKeyspaces" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
    <logger name="com.amazon.aws.cqlreplicator.task.AbstractTaskV2" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
    <logger name="com.amazon.aws.cqlreplicator.storage.StorageServiceImpl" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
    <logger name="org.iq80.leveldb.Logger" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>
</configuration>